@model SGAL.Web.Models.AvaliacaoView

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir Avaliação</h2>

<h3>Você tem certeza que deseja excluir está avaliação ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Estrelas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeEstrelas)
        </dd>

        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataComentario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Lista", "Index", new { idMontagem = ViewBag.Montagem.MontagemID })
        </div>
    }
</div>
