@model SGAL.Dominio.LegooZer
<fieldset name="legooZerFields">
    <legend>
        <label>
            LegooZer
        </label>
    </legend>
    <p><label>Nome: <span>@Model.Nome</span></label></p>
    <p><label>SobreNome: <span>@Model.SobreNome</span></label></p>
    <p><label>Nome Completo: <span>@Model.NomeCompleto</span></label></p>
    <p><label>Endereço de E-mail: <span>@Model.EnderecoEmail</span></label></p>
</fieldset>